/* body {
    padding: 3% 6%;
} */
.nav-link.active {
    font-size: 18px;
    /* font-weight: 400; */
    color: #052023;
}
a {
    text-decoration: none;
}
/* h1 {
    font-size: 28px;
    font-weight: 600;
} */
h1.text-title {
    font-size: 28px;
    font-weight: 600;
}
.card-title {
    font-size: 18px;
    font-weight: 600;
}
.border-secondary {
    border-color: #0D5C63 !important;
}
/* .material-symbols--search::after {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5q0-1.875-1.312-3.187T9.5 5Q7.625 5 6.313 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14'/%3E%3C/svg%3E");
  } */
/* .reg-btn {
background-color: #000;
} */
